pkgbase = linux-zen
	pkgdesc = Linux ZEN
	pkgver = 6.13.5.zen1
	pkgrel = 1
	url = https://github.com/zen-kernel/zen-kernel
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = rust-src
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = python-yaml
	makedepends = texlive-latexextra
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.13.5.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.13.5.tar.sign
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v6.13.5-zen1/linux-v6.13.5-zen1.patch.zst
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v6.13.5-zen1/linux-v6.13.5-zen1.patch.zst.sig
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 83BC8889351B5DEBBB68416EB8AC08600F108CDF
	sha256sums = 283ecb0784f3fbc16dd822fb1d9642e230ec7515ed33f120e551b839f355e6e2
	sha256sums = SKIP
	sha256sums = 6c42de9c1228b5c1f3da5191fc636f87972f73b963a802a7906a73641a5ab342
	sha256sums = SKIP
	sha256sums = 7dd7ca8b6e73af31eb8d185cfbb07c1259e5581ba989b253143e164ad9fcdb7f
	b2sums = f8d57680d657c57bfc02a7981133e1e0dff9718f9ffdaff99be89861582cc8922884a4c8ce76acf8cc97bf407dc77b91d6c0d0cab59b210d5fa485d27eac1999
	b2sums = SKIP
	b2sums = 9f8cd405e46a8704bbd7074f96ba09c5602ae440d24593db322105a4765b0dfa93b15d2f352821d76c2d464c683582c958de5ae098544923277d2b3ae5220df1
	b2sums = SKIP
	b2sums = f8617538e75f396c62599db3ac42ab6f58df4d974328f88cbf83082879f863f91a7348bfc8c0f2201aed8a836396be63cb378aa0f461a3348bdb1e09d04b8424

pkgname = linux-zen
	pkgdesc = The Linux ZEN kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = scx-scheds: to use sched-ext schedulers
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	provides = KSMBD-MODULE
	provides = UKSMD-BUILTIN
	provides = VHBA-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = 

pkgname = linux-zen-headers
	pkgdesc = Headers and scripts for building modules for the Linux ZEN kernel
	depends = pahole

pkgname = linux-zen-docs
	pkgdesc = Documentation for the Linux ZEN kernel
