pkgbase = linux-zen
	pkgdesc = Linux ZEN
	pkgver = 6.14.zen1
	pkgrel = 1
	url = https://github.com/zen-kernel/zen-kernel
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = rust-src
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = python-yaml
	makedepends = texlive-latexextra
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.14.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.14.tar.sign
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v6.14-zen1/linux-v6.14-zen1.patch.zst
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v6.14-zen1/linux-v6.14-zen1.patch.zst.sig
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 83BC8889351B5DEBBB68416EB8AC08600F108CDF
	sha256sums = a294b683e7b161bb0517bb32ec7ed1d2ea7603dfbabad135170ed12d00c47670
	sha256sums = SKIP
	sha256sums = 1497a3318d842f7160a9959a6a17854aabecb948caaecfa51d856b173aea519f
	sha256sums = SKIP
	sha256sums = 1d4dd4e64b47512b406506208a6e36647d25c6a3a0742045058e90b22f0a36d4
	b2sums = 11835719804b406fe281ea1c276a84dc0cbaa808552ddcca9233d3eaeb1c001d0455c7205379b02de8e8db758c1bae6fe7ceb6697e63e3cf9ae7187dc7a9715e
	b2sums = SKIP
	b2sums = a619e0bd21afbc668ac007efe30a42fb2c7a945f777e074b8e304ad28d714bada0f73ff2dcf894771b3927155ed7edb6759f6e7647aa19cf1cfc6b8c0843c064
	b2sums = SKIP
	b2sums = b247a77513b46a410b7cee3554cc3721541953751f0310926feaa61efe83000e9b826d76f6e42af6561466773e719e7323ef7552a3192236cecdd88ec9885359

pkgname = linux-zen
	pkgdesc = The Linux ZEN kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = scx-scheds: to use sched-ext schedulers
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	provides = KSMBD-MODULE
	provides = NTSYNC-MODULE
	provides = UKSMD-BUILTIN
	provides = VHBA-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = 

pkgname = linux-zen-headers
	pkgdesc = Headers and scripts for building modules for the Linux ZEN kernel
	depends = pahole

pkgname = linux-zen-docs
	pkgdesc = Documentation for the Linux ZEN kernel
