pkgbase = linux-zen
	pkgdesc = Linux ZEN
	pkgver = 6.16.zen1
	pkgrel = 1
	url = https://github.com/zen-kernel/zen-kernel
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = rust-src
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = python-yaml
	makedepends = texlive-latexextra
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.16.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.16.tar.sign
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v6.16-zen1/linux-v6.16-zen1.patch.zst
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v6.16-zen1/linux-v6.16-zen1.patch.zst.sig
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 83BC8889351B5DEBBB68416EB8AC08600F108CDF
	sha256sums = 1a4be2fe6b5246aa4ac8987a8a4af34c42a8dd7d08b46ab48516bcc1befbcd83
	sha256sums = SKIP
	sha256sums = 53ca3e1c5d0e4b4a70da3e5946beb92987100105c19fee0934ae12f99755df60
	sha256sums = SKIP
	sha256sums = a9550ffda320b03fe0acc800e888a9f132e99d146f0cd4d29886d5872c83d283
	b2sums = 87bc4da7e89cc8265aebffea7ec6c09f711be24fee87cb1c03a264c03fd5a538d66aa806640835aa5103926e612cdfbc52d7c861d7f7065f1a8bb11d893b0921
	b2sums = SKIP
	b2sums = 48ac300a860ea50199afa6651467a08d5d4ac83b1eea417c91f2b3e128894b21bbc519c4aa5c0b80dd76bd4f20597779bcde207126cb52422989386f2ab7e00e
	b2sums = SKIP
	b2sums = e9669f0173aea503d654b0ac6fdcf9fa1d9d6239d64135094301ae639df8eb55699316baf9ed0aca9be9199eb1845fbba5a7026b22fc5d4ff66ba9eeef445c30

pkgname = linux-zen
	pkgdesc = The Linux ZEN kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = scx-scheds: to use sched-ext schedulers
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	provides = KSMBD-MODULE
	provides = NTSYNC-MODULE
	provides = VHBA-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = 

pkgname = linux-zen-headers
	pkgdesc = Headers and scripts for building modules for the Linux ZEN kernel
	depends = pahole

pkgname = linux-zen-docs
	pkgdesc = Documentation for the Linux ZEN kernel
